/* Eric Myers Reset */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

/* Removes default browser button styles */
input, button, submit { border:none; } 

/* Color Scheme */
:root {
  --color-button-bg: #006aff;
  --color-text: #1A1A1A;
}

/* Typography / Main Page Styles*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  font-size: 62.5%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  line-height: 1.5;
}


/* ================================================
    COMPONENTS
================================================ */

/*  NAVBAR
================================================ */
.navbar {
	display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 2%;
  white-space: nowrap;
  position: sticky;
}
.navbar__logo img { 
  width: 25px;
  height: 25px;
}
.navbar__button {
  text-decoration: none;
  color: var(--color-text);
  font-weight: 600;
  font-size: 16px;
  margin-left: 1%;
  margin-right: 1%;
  padding: 12px 16px;
}
.navbar__button:hover {
  background-color: rgb(207, 207, 207);
  border-radius: 8px;
}

.hero {
  background-image: url(img/square-header-img.jpg) !important;
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero__text-grid {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
}
.hero__text-grid h1 {
  color: white;
  font-size: 6rem;
  font-weight: bold;
}